<div class="g-row">
  <div class="g-8">
    <h1>My Agile Blog</h1>

  <?Post?>
      <h3><?title?>Here will be my post title<?/?></h3>
      <a href="<?page?>index<?/?>">back</a>
      <div><?body?>Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum <?/?></div>
  <?/Post?>

  </div>
  <div class="g-2">

  <?$Archive?>

 </div>
</div>
