<h1>How do I..?</h1>
<p>Agile Toolkit delivers simplicity on top of very powerful code-base. Many things you can think of are probably have been already implemented on Agile Toolkit</p>
<p>If you have any question on how to do something with Agile Toolkit, ask it on <a href="http://stackoverflow.com/questions/ask">Stack Overflow</a> with 
<b>atk4</b> as a tag.

<h1>Updates</h1>
<p>Your software will continue to be compatible with 4.0.x releases of Agile Toolkit. With minor changes you can also upgrade to 4.1.x. You can get newer version from here: <a href="http://agiletoolkit.org/download">http://agiletoolkit.org/download</a>.</p>
<p>When doing upgrade, replace your current "atk4" directory with the newer release.</p>

<h1>Online documentation</h1>
<p>Documentation located on <a href="http://agiletoolkit.org/doc">http://agiletoolkit.org/doc</a> is aimed at 4.1 branch of Agile Toolkit. Refer to 
<a href="http://agiletoolkit.org/whatsnew">http://agiletoolkit.org/whatsnew</a> for the differences between versions.

<h1>Newsletter</h1>
<p>Stay in touch with framework releases and major upgrades by signing up to our <a href="http://agiletoolkit.org/newsletter">http://agiletoolkit.org/newsletter</a>.</p>
