<h1>How-tos and FAQs</h1>
<p>Agile Toolkit users post qusetions on Stack Overflow. If you have any question click here to ask: <a href="http://stackoverflow.com/questions/ask">Stack Overflow</a>. Be sure to use "atk4" tag.</p>

<h1>Updates</h1>
<p>You can see the version of Agile Toolkit in the top-right corner. When the new version is available you will see a notification there.</p>

<h1>Book: "Web Development With Agile Toolkit"</h1>
<p>I am working on a free book for those who seriously consider learning Agile Toolkit. It's being regularly updated and if you would like to get the most recent version, <a href="https://agiletoolkit.org/book.pdf">you can download it here</a>.

<h1>Screencasts</h1>
<p><a href="http://agiletoolkit.org/tutorial">Watch 15 hours of interactive screencasts</a>, which will teach you Agile Toolkit, if you prefer videos over reading.</a>

<h1>Community</h1>
<a href="https://groups.google.com/forum/?fromgroups=#!forum/agile-toolkit-devel">Our Google Group</a> is a great place to ask qusetions and discuss ideas.</a>

<h1>IRC Channel</h1>
<p>Join our IRC channel: <a href="http://irc.lc/freenode/atk4">http://irc.lc/freenode/atk4</a> or <a href="irc://irc.freenode.net/atk4">irc://irc.freenode.net/atk4 </a>

